<%- include("partials/header") -%>
<h1 class="prataFont">About me</h1>
<p>Hi, It's nice to see you here! My nickname is "Pantufla" and I'm a 26 years old web developer currently learning about new technologies and polishing my coding skills. </p>
<p>As many other developers I have a great passion for videogames, and I'm currently trying to start a stream channel also!</p>
<p>And last but not least, I'm also a drummer, I love music with a great passion!</p>

<%- include("partials/footer") -%>