<%- include("partials/header") -%>
<h1 class="prataFont">Contact Me</h1>
<h3 class="prataFont">You can reach to me on the following links: </h3>
<p><a class="contact-link" target="_blank" href="https://www.linkedin.com/in/jass1001/">Linkedin</a> <i class="icon fab fa-linkedin" aria-hidden="true"></i></p>
<p><a class="contact-link" target="_blank" href="mailto:antonio.jss@exatec.tec.mx">Email</a> <i class="far fa-envelope" aria-hidden="true"></i></p>
<p><a class="contact-link" target="_blank" href="https://github.com/Pantuf7a">Github</a> <i class="fab fa-github" aria-hidden="true"></i></p>
<p><a class="contact-link" target="_blank" href="https://www.twitch.tv/pantuf7a">Twitch</a> <i class="fab fa-twitch"></i></p>

<%- include("partials/footer") -%>