.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.myform {
    display: inline-block;
}

.title {
    width: 25%;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
    padding-bottom: 60px;
}

.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #1abc9c;
}

.footer p {
    margin-top: 25px;
    font-size: 15px;
    color: #fff;
}

.btn-primary {
    background-color: #1abc9c !important;
}

p,
li.intro {
    font-size: 15px;
}

.homeFont {
    font-family: sans-serif;
}

.prataFont {
    font-family: "Prata";
}

.contact-link {
    text-decoration: none;
    color: black !important;
}

.contact-link:hover {
    text-decoration: none;
    color: teal !important;
}